.btn:focus {
    outline: none !important;
    border-color: transparent !important;
}

.session-opener-section-chooser {
    box-shadow: 0 3px 5px 0 #555555;
    border-radius: 7px;
    border: none;
}

.btn-section-chooser.raised {
    width: 60px;
    height: 60px;
    background: no-repeat center;
    background-size: 50px 50px;
    filter: grayscale(80%) blur(1px);
}

.btn-section-chooser.selected {
    width: 60px;
    height: 60px;
    background: no-repeat center;
    background-size: 50px 50px;
	filter: none;
    border: none;
}

.btn-section-chooser.selected:active {
    background-color: white !important;
}

.btn-section-chooser.selected:focus {
    background-color: white !important;
}

.btn-section-chooser.raised:active, .btn-section-chooser.raised.active {
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-primary.raised {
	box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-success.raised {
	box-shadow: 0 3px 0 0 #008c52;
}

.btn-success.raised:active, .btn-success.raised.active {
	background: #39bf87;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-info.raised {
	box-shadow: 0 3px 0 0 #35a2b5;
}

.btn-info.raised:active, .btn-info.raised.active {
	background: #5fd4e8;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-warning.raised {
	box-shadow: 0 3px 0 0 #b87430;
}

.btn-warning.raised:active, .btn-warning.raised.active {
	background: #eba259;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}

.btn-danger.raised {
	box-shadow: 0 3px 0 0 #bf4343;
}

.btn-danger.raised:active, .btn-danger.raised.active {
	background: #f26d6d;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
}
