.vote_code-modal {
    min-width: 100vw;
    text-align: center;
}

.vote_code-text {
    font-size: 3500%;
    margin: 0 auto;
}

.vote-creater-modal {
    transform: scale(1, 1) !important;
}

.vote-visualizer  {
    margin-top: 18px !important;
}

.vote-visualizer-body {
    height: 54vh;
    border: 1px solid lightgray;
    border-radius: 0 0 10px 10px;
    overflow: scroll;
}

.vote-visualizer-item {
    font-size: 200%;
    font-weight: bold;
    height: 50px;
    margin: 5px;
    padding: 5px 10px 10px;
    background-color: #323232;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 0 #1f1f1f;
    color: white;
}

.vote-visualizer-text  {

}

.vote-visualizer-number {
    font-size: 80%;
    background-color: #464646;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 2px;
}

#vote-visualizer-notvoted  {
    float: bottom;
}