.panel-session {

}

.panel-session-qr {
    height: auto;
}

.panel-session-button-group{
    width: 100%;
}

.panel-session-official-button {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    z-index: 100;
}

@media screen and (min-width: 990px){
    .panel-session-new-button {
        padding-right: 4vw !important;
    }
}

.panel-session-new-button {
    color: white !important;
    width: 100%;
    text-align: center !important;
    border-radius: 5px !important;
}

.panel-session-hr {
    margin-bottom: 12px;
    margin-top: 10px;
}