.modal-session-setup {
    text-align: center;
    max-width: 25vw;
    width: 50%;
    margin: 0 auto;
}

body {
    background-color: #282828 !important;
}

.modal-session-setup.modal-dialog {
    min-width: 350px;
    margin: 10px auto;
}

#dashboard {

}

ul {
    list-style-type: none;
    padding-left: 0;
}

.page-header {
    text-align: center;
    margin-top: 0 !important;
    color: white;
}

.session-opener-section-chooser {
    margin-bottom: 20px;
}

.panel-header {
    margin-top: 0;
}

.subtitle {
    color: #939393;
}

.panel {
    box-shadow: 6px 7px 4px 0 #000000 !important;
    border-radius: 1px !important;
    text-align: center;
    height: 83vh;
    z-index: 10;
    overflow: auto;
}

.col-md-3 {
    padding: 0 5px 0 !important;
}

.col-md-6 {
    padding: 0 5px 0 !important;
}

.panel-voting-body {
    text-align: left;
}

.panel-footer {
    position: absolute;
    right: 5px;
    bottom: 21px;
    left: 5px;
    background: #000;
}

.p {
    /*margin-bottom: 0 !important;*/
}

.show-grid {

}