<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Dashboard - D-cide</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <!--link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}"-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')|autoversion }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css')|autoversion }}">
    <!-- Latest compiled and minified CSS (for react-bootstrap)-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
</head>
<body>
<div id="dashboard"></div>
<!-- scripts -->
<!--script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
<script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script-->
<script src="{{ url_for('static', filename='scripts/js/build.js')|autoversion }}"></script>
</body>
</html>