// menu

nav 
  padding: 0 12px 0 4px

// section selection in the upper left corner

.section-logo 
  max-height: 64px
  max-width: 64px
  margin: 0px 2px
  cursor: pointer
  transition: all 0.5s

.section-logo:hover 
  -webkit-filter: none
  filter: none

.grayscale 
  -Webkit-filter: grayscale(100%)
  filter: grayscale(100%)
