@import colors
$mobile: "only screen and (max-width : 950px)"
$a-hover: 'a:active, a:hover'

html, body, #app
  background-color: rgba($primary, 0.7)
  height: 100%

.login
  text-align: center
  margin-top: 50px
  
  a
    text-decoration: none
    font-size: 5rem
    color: $background

  #{$a-hover}
    text-decoration: underline

  #lambda
    font-size: 30rem
    display: none
    color: $background

  a:hover + #lambda
    display: block

span
  color: $light-grey

.button, button, select
  border-radius: 1px


input[type="text"]
  border-radius: 2px

form, ul, input
  margin: 0

hr
  margin: 1.6rem 0


@import header
@import panel
@import votes
@import attendants
@import modal
