html
  font-size: 12px

html, body, #app
  height: 100%
  
p
  font-size: 12px

// Header stuff
nav 
  padding: 0 12px

.login-button
  margin-left: 10px

.btn
  font-size: 10px
  height: 29px
  line-height: 29px

.material-icons
  font-size: 19px

select.browser-default
  background: transparent
  border: 0
  color: white
  margin: 15px 0 0

.main
  margin-top: 4px
  height: 80%
  min-height: 500px

// Input-fileds
.text-input
  margin-bottom: 0

input[type=text]:not(.browser-default)
  font-size: 14px

.input-field > label
  font-size: 11px

.user-item
  cursor: pointer

.panel-container
  height: 800px

@import panels
@import voting