/* the main 3 panels on the page */

.panel 
  height: 800px
  padding: 13px
  display: flex
  flex-direction: column
  justify-content: space-between

.panel-header 
  margin-top: 0

.list-collection 
  max-height: 518px
  overflow-y: auto

li.collection-item   
  list-style: none
  cursor: pointer


.collection .collection-item.active
  font-weight: bold

.empty-box
  height: 361px