/* the main 3 panels on the page */

.card-panel 
  padding: 16px
  // display: flex
  // flex-direction: column
  // justify-content: space-between
  

.panel-header 
  margin-top: 0
  margin-bottom: 7px

.red-button
  font-size: 10px
  width: 100%

.col-main
  height: 100%

.meetings-panel, .votes-panel
  height: 100%

.attendants-panel
  height: 60%
  margin-bottom: 0

.scanners-panel
  height: 39%

.card-panel
  display: flex
  flex-direction: column

.list-collection 
  margin-bottom: 4px
  overflow-y: auto

// li.collection-item   
//   list-style: none
//   cursor: pointer

.collection .collection-item
  padding: 7px 8px
  font-size: 10px

.pointer
  cursor: pointer

.collection .collection-item.active
  font-weight: bold
