nav {
  padding: 0 12px 0 4px;
}

.section-logo {
  max-height: 64px;
  max-width: 64px;
  margin: 0px 2px;
  cursor: pointer;
  transition: all 0.5s;
}

.section-logo:hover {
  -webkit-filter: none;
  filter: none;
}

.grayscale {
  -Webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.panel {
  height: 800px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.panel-header {
  margin-top: 0;
}

.list-collection {
  max-height: 518px;
  overflow-y: auto;
}