#qr-img {
    margin: 0 auto;
    height: 90%;
    width: 90%;
}

#qr-fullscreen {
    color: #1d1d1d;
}

.qr-img-modal {
    margin: 0 auto;
    vertical-align: middle;
    width: auto;
    min-width: 0 !important;
    padding-left: 50px;
    padding-right: 60px;
}